<p><%= this_year %> Slapoguzov Aleksandr, <%= github_url("Aleksandr-Slap", "TestGuru") %> <br></a>
Проэкт для проверки и закрепления знаний в области языков<br> програмирования и фреймворков для работы с ними.<br>
<a href="https://thinknetica.com/">Учебный проект в онлайн-школе Thinknetica</a>
</p>  