<p><%= this_year %> Slapoguzov Aleksandr, <a href=<%= github_url %>>TestGuru:<br></a>
Проэкт для проверки и закрепления знаний в области языков<br> програмирования и фреймворков для работы с ними.<br>
<a href="https://thinknetica.com/">Учебный проект в онлайн-школе Thinknetica</a>
</p>  