<h2 class="nav user"><%= link_to "TestGuru", tests_path %></h>
    
<% if user_signed_in? %>
  <p class="nav user"> 
    Welcome, <d><%= current_user.email %></d> Guru |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </p>   
<% end %>


    