<h1>Question</h1>

<p>
  <%= @question.body %>
</p> 

<h2>Answers</h2>
<d><%= @answer.body %> </d>


<p>
  <d>Correct</d>
  <%= @answer.correct %>
<p>    

<%= link_to 'Back', question_path(@answer.question) %>
