<h1>Create New Test</h1>

<form action="/tests" method="post">
	<p>
		<label for="test-title">Title:</label>
		<imput type="text" name="test[title]" id="test-title">
	</p><br>
	
	<p>
	  <label for="test-level">Level:</label>
	  <imput type="text" name="test[level]" id="test-level">	
	</p><br>
	
	<imput type="submit" value="Create">
</form>  	